*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--roboto);
  color: var(--dark-slate-grey);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--charcoal-grey);
}

main {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  padding: 30px 0px 30px 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
  font-size: 16px;
  gap: 10px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  max-width: 50%;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  line-height: 25px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-item img {
  margin-right: 10px;
}

.email-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-right: 20px;
}

.email-title-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.email-title {
  font-weight: 700;
}

.error-msg {
  display: none;
  color: var(--tomato);
  font-weight: 700;
}

.email-input-container input {
  margin: 10px 0;
  height: 50px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  outline: none;
}

.error input {
  border: 1px solid var(--tomato);
  background-color: #ffe8e6;
  color: var(--tomato);
}

.error input::placeholder {
  color: var(--tomato);
}

button {
  height: 50px;
  background-color: var(--dark-slate-grey);
  border-radius: 8px;
  border: 1px solid transparent;
  color: var(--white);
  outline: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-image: linear-gradient(to right, #ff5477, var(--tomato));
  box-shadow: 0px 10px 15px 0px #febfba;
}

.img-container {
  width: 50%;
  display: flex;
  padding: 10px;
}

.desktop-img {
  display: flex;
  max-width: 100%;
}

.mobile-img {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  color: var(--white);
  font-size: 11px;
  text-align: center;
}

footer a {
  color: var(--tomato);
}

#success-msg {
  display: none;
  flex-direction: column;
  padding: 30px 50px;
  background-color: white;
  border-radius: 30px;
  font-size: 16px;
  width: 460px;
  animation: bounce 5s ease forwards;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-200px);
  }
  50% {
    transform: scale(1.2, 0.9) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.icon-success {
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 25px;
}

p {
  margin-top: 20px;
  line-height: 24px;
}

.submitted-email-span {
  font-weight: 700;
}

#success-msg button {
  width: 100%;
  margin: 35px 0px 20px 0px;
}

@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    margin: 0px;
    padding: 0;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .img-container {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    width: 100%;
    display: block;
    margin: 0;
  }

  .info-container {
    min-width: 100%;
    margin: 0;
    padding: 20px;
  }

  .list-item {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    line-height: 20px;
  }

  .email-input-container {
    padding: 0;
  }

  #success-msg {
    display: none;
    padding: 0px 20px;
    height: 70vh;
    width: 100%;
    font-size: 16px;
    justify-content: center;
    position: relative;
  }

  p {
    margin-bottom: 20%;
  }

  #dismiss-button {
    position: relative;
    min-height: 50px;
  }

  .icon-success {
    width: 50px;
    height: 50px;
  }

  footer {
    display: none;
  }
}
